/* Default Light Theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background-color: #67a7b7;
  --card-background: #f8f9fa;

  /* Новые переменные для градиентов */
  --header-gradient-start: #8e44ad;
  --header-gradient-middle: #3498db;
  --header-gradient-end: #e74c3c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.App {
  text-align: center;
}

/* Стиль хедера */
.App-header {
  background: linear-gradient(45deg, var(--header-gradient-start), var(--header-gradient-middle), var(--header-gradient-end));
  background-size: 300% 300%; /* Для плавной анимации */
  animation: gradient-animation 8s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom: 20px;
  color: var(--text-color);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.App-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffdd00; /* Новый цвет текста заголовка */
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.App-subtitle {
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  color: #ff8c00; /* Новый цвет текста подзаголовка */
  margin-top: 10px;
}

/* Стиль карточек */
.card {
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.card-text {
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

/* Кнопка поиска */
.btn-search {
  background: linear-gradient(45deg, #6a11cb, #2575fc); 
  color: #fff; 
  border: none;
  border-radius: 10px;
  padding: 0.4rem 1.2rem; 
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.btn-search:hover {
  transform: scale(1.05); 
}

.btn-search:active {
  transform: scale(0.95); 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .btn-search {
    font-size: 0.9rem; 
    padding: 10px 20px; 
  }
}

@media (min-width: 768px) {
  .btn-search {
    font-size: 1rem;
  }
}
